**/bin/
**/obj/
**/packages/
riderModule.iml
/_ReSharper.Caches/

.vs/
.idea
*.iml
**/out
*.log

appsettings.local.json
appsettings.test.local.json
.sonarlint
**/*.csproj.user
**/*.DotSettings.user

/.editorconfig
